
<div class="row mb-4">
    <div class="col-md-9">
        <h1 class="h2 border-left pl-2">
            ToDo List
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-new-todo" (click)="createNewToDoList()">New ToDo</button>
        <button class="btn btn-primary" [disabled]="isInvalidList()" (click)="save()">Save</button> 
    </div>
    
    <div *ngFor="let todo of todoLists let indexCurrent = index" class="col-md-12 card-todo">
        <div class="card">
            <div class="card-header">
              {{todo.name}}
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" id="name" class="form-control" [(ngModel)]="todo.name" placeholder="Type list name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <input type="text" id="item-list" [(ngModel)]="itemListCurrent[indexCurrent]" class="form-control" placeholder="Type item">
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-success" (click)="addItemList(indexCurrent)" [disabled]="!itemListCurrent[indexCurrent]">Add</button> 
                    </div>
                </div>

                <div *ngFor="let itemToDo of todo.items let indexItem = index" class="form-row">
                    <div class="form-group col-md-7">
                        <p>{{itemToDo.item}}</p>
                    </div>
                    <div class="form-group col-md-2 btn-trash" (click)="deleteItem(indexCurrent, indexItem)">
                        <i class="bi bi-trash3-fill"></i>
                    </div>
                </div>
                <p class="msg-empty-list" *ngIf="todo.items?.length == 0">Empty list</p>
            </div>
            <button *ngIf="indexCurrent > 0" (click)="deleteToDoList(indexCurrent)" class="btn">Cancel</button>
        </div>
        
    </div>

</div>